:root {
	--body-backgound-color: #E9D9D8;
	--panel-background-color: #E1B0B0;
	--sub-panel-background-color: #8571B7;
	--menu-button-color: #8571B7;
	--menu-exit-color: #FAB144;
	--text-color: #000000;
	--checkbox-color: #FF86C8;
	--number-color: #E9D9D8;
}